h1{
    z-index: 1;
    position: absolute;
    left: 25%;
    font-size: 10vw;
    color: black;

    animation-name: TitleAnime;

    animation-duration:1750s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: 1s;
    /*animation-iteration-count: infinite;*/
    
}

@keyframes movehead {
    from {    top: 50vh;}
    to {    top: 0vh;}
  }

@keyframes TitleAnime {
    0% {color: black;   font-size: 5vw;}
    20% {color: red;   font-size: 8vw;}
    40% {color: pink;   font-size: 1vw;}
    60% {color: yellow;   font-size: 2vw;}
    80%{color: magenta;  font-size: 3vw;}
    100%{color: olive;  font-size: 9vw;}
  }



img{
    position: fixed;
    height: 100px;
    width: auto;
    left: 150px;
}

img+img{
    height: 300px;
    width: auto;
    top: 55px;
    left:75px;
}

#an{
    top: 50vh;
    animation: movehead 5s ;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}



@keyframes movehead {
    from {    top: 50vh;}
    to {    top: 0vh;}
  }