div{
    font-size: 72px;
}
.parent{
    position: relative;
    background-color: hotpink;
    padding: 15px;
}
#a{
    background-color: chocolate;
    position: absolute;
    left: 50%;
    top: 0;
}

#a:hover{
    background-color: rebeccapurple;
    font-size: 150px;
    transition: 2s;
}
#b{
    background-color: royalblue;
    position: fixed;
    top: 50%;
    right: 50px;

}

#c{
    background-color: green;
}

#space{
    height: 250px;
    width: 100%;
    background-color: indigo;
}