img{
    height: 250px;
    width: 300px;
    object-fit: fill;
}

.container{
    background-color: cadetblue;
    width: 1199px;

    /*Flex Related*/
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row;
    justify-content: space-between;
    
}.parent{
    position: relative;
    background-color: hotpink;
    padding: 15px;
}
#a{
    background-color: chocolate;
    position: absolute;
    left: 50%;
    top: 0;
}
#a:hover{
    background-color: rebeccapurple;
    font-size: 150px;
    transition: 2s ;
}

#em{
   justify-self: flex-start;
}